<div class="container  my-5">

<div class="d-flex flex-column justify-content-center align-items-center">
<form #loginForm="ngForm"  >
    <div class="my-3">
        <input type="text"  #searchTerm name="search">
    
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <button (click)="performSearch(searchTerm,loginForm)" class="btn btn-primary">Search</button>
    
    </div>
</form>
</div>

    <div class="row">
        <div class="col-md-3"  *ngFor="let g of gifs">
            <img src="{{g.images.original.url}}" class="gif">
        </div>
    </div>
</div>